/*Extra small devices (portrait phones,less than 576px) */
@media (max-width: 575.98px) {
  /* navbar */
  .menu ul li a {
    font-size: 14px;
  }

  /* Slider section */
  .slider_section {
    padding-top: 50px;
    padding-bottom: 55px;
  }
  .navbar-nav {
    padding-left: 0%;
    margin-top: 10px;
  }
  .slider_texbox h1 {
    font-size: 23px;
  }
  .heading_bt_underline {
    width: 41px;
    margin-left: 43%;
  }
  .slider_texbox p {
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 34px;
    margin: 0 0px;
  }
  .h_button {
    font-size: 11px;
    margin-bottom: 80px;
  }
  /* indicator */
  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    margin-right: 9px;
  }
  /* story section */
  .story_tex_box h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .story_tex_box p {
    padding-bottom: 18px;
    margin-right: 0%;
    font-size: 14px;
    text-align: center;
  }
  .ourstory_sec {
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .sto_img {
    margin-top: 0px;
    width: 50%;
  }
  .btn_2nd {
    font-size: 11px;
    margin-bottom: 60px;
    margin-left: 32%;
  }
  /* video section */
  .videos_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .video_icon_box ul li i {
    font-size: 61px;
  }
  .video_icon_box p {
    font-size: 15px;
  }
  /* card */
  .portfolio_section {
    padding-bottom: 0px;
  }
  .card_text {
    padding-top: 36px;
    padding-bottom: 60px;
  }

  .btn_3nd {
    font-size: 10px;
    margin-bottom: -15px;
    margin-left: -2%;
  }
  .img_he {
    height: 261px;
    width: 102%;
  }
  .portf_heading_box h1 {
    font-size: 21px;
  }
  .portf_heading_box p {
    font-size: 16px;
  }
  /* services */
  .ser_texbox p {
    margin: 0 30px;
  }
  .ser_single_box ul li i {
    font-size: 45px;
  }
  .conbtn {
    font-size: 18px;
  }
  /* gallary */
  .gellary_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .g_h_1 {
    padding-bottom: 19px;
  }
  .g_h_2 {
    padding-bottom: 16px;
    margin-top: -69px;
  }
  .g_h_1 h1 {
    font-size: 15px;
  }
  .g_h_2 a span {
    font-weight: 900;
    color: black;
    font-size: 13px;
  }
  .gal_btn {
    margin-top: 40px;
  }
  .ga_button {
    font-size: 12px;
    margin-bottom: 0;
  }
  /* contact box */
  .message_section {
    padding-top: 72px;
    padding-bottom: 40px;
  }
  .msg_he h1 {
    font-size: 21px;
    padding-bottom: 38px;
    text-align: center;
  }
  .msg_he h2 {
    font-family: "Playfair Display", serif;
    color: #413d4b;
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 57px;
    margin-top: 49px;
    margin-left: 13px;
  }
  .input_box {
    font-size: 15px;
    margin-bottom: 27px;
    padding: 8px 18px;
  }
  .msg_img {
    padding-bottom: 43px;
  }
  .con_imghe {
    width: 91px;
  }
  .bigtextbox {
    min-height: 182px !important;
    padding: 18px 15px;
  }
  .conta_btn {
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 35%;
    font-size: 16px;
  }
}

/* Small devices (landscape phones,and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* navbar */
  .menu ul li a {
    font-size: 14px;
  }
  /* Slider section */
  .slider_section {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .navbar-nav {
    padding-left: 0%;
    margin-top: 10px;
  }
  .slider_texbox h1 {
    font-size: 30px;
  }
  .slider_texbox p {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 39px;
    margin: 0 0px;
  }
  .h_button {
    font-size: 12px;
    margin-bottom: 100px;
  }
  /* indicator */
  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    margin-right: 9px;
  }
  /* story section */
  .story_tex_box p {
    padding-bottom: 13px;
    margin-right: 0%;
    font-size: 12px;
  }
  .ourstory_sec {
    padding-bottom: 0px;
  }
  .sto_img {
    margin-top: 40px;
    width: 93%;
  }
  .h_button {
    font-size: 11px;
    margin-bottom: 60px;
  }
  /* video section */
  .videos_section {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .video_icon_box ul li i {
    font-size: 61px;
  }
  .video_icon_box p {
    font-size: 15px;
  }
  /* services */
  .ser_texbox p {
    margin: 0 30px;
  }
  .ser_single_box ul li i {
    font-size: 45px;
  }
  /* card */
  .portfolio_section {
    padding-bottom: 0px;
  }
  .conbtn {
    font-size: 13px;
  }

  /* gallary */
  .gellary_section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .g_h_1 {
    padding-bottom: 40px;
  }
  .g_h_2 {
    padding-bottom: 16px;
    margin-top: -69px;
  }
  .g_h_1 h1 {
    font-size: 17px;
  }
  .g_h_2 a span {
    font-weight: 900;
    color: black;
    font-size: 13px;
  }
  .ga_button {
    font-size: 11px;
    margin-bottom: 0;
  }
  /* contact box */
  .message_section {
    padding-top: 72px;
    padding-bottom: 40px;
  }
  .msg_he h1 {
    font-size: 21px;
    padding-bottom: 38px;
    text-align: center;
  }
  .msg_he h2 {
    font-family: "Playfair Display", serif;
    color: #413d4b;
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 57px;
    margin-top: 49px;
    margin-left: 83px;
  }
  .input_box {
    font-size: 17px;
    margin-bottom: 27px;
    padding: 8px 18px;
  }
  .msg_img {
    padding-bottom: 43px;
  }
  .con_imghe {
    width: 91px;
  }
  .bigtextbox {
    min-height: 182px !important;
    padding: 18px 15px;
  }
  .conta_btn {
    margin-top: 9px;
    margin-bottom: 40px;
    margin-left: 197px;
    font-size: 16px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Slider section */
  .slider_section {
    padding-top: 38px;
    padding-bottom: 105px;
  }
  .navbar-nav {
    padding-left: 0%;
    margin-top: 10px;
  }
  .slider_texbox h1 {
    font-size: 33px;
  }
  .slider_texbox p {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 39px;
    margin: 0 0px;
  }
  .h_button {
    font-size: 13px;
    margin-bottom: 100px;
  }
  .carousel-indicators {
    bottom: -81px;
  }
  .carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
  }
  /* story section */
  .ourstory_sec {
    padding-top: 75px;
    padding-bottom: 60px;
  }
  .story_img_box {
    margin-top: 68px !important;
  }
  .sto_img {
    width: 93%;
  }
  .story_tex_box p {
    padding-bottom: 18px;
    margin-right: 6%;
  }
  .h_button {
    font-size: 12px;
    margin-bottom: 0px;
  }
  /* video section */
  .videos_section {
    padding-top: 128px;
    padding-bottom: 120px;
  }
  /* service */
  .services_section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .ser_texbox p {
    margin: 0 24px !important;
  }
  .ser_texbox h1 {
    font-size: 13px !important;
  }
  /* service */
  .img_he {
    height: 193px;
    width: 100%;
  }
  .service_botton_cotent {
    padding-top: 24px;
    padding-bottom: 14px;
  }
  /* gallary */
  .g_h_1 {
    padding-bottom: 40px;
  }
  .g_h_2 {
    padding-bottom: 2px;
    margin-top: -72px;
  }
  .g_h_1 h1 {
    font-size: 16px;
  }
  .g_h_2 a span {
    font-weight: 900;
    color: black;
    font-size: 13px;
  }
  .gal_btn {
    margin-top: 33px;
    margin-bottom: 34px;
  }
  /* contact box */
  .message_section {
    padding-top: 72px;
  }
  .msg_he h1 {
    font-size: 21px;
    padding-bottom: 40px;
  }
  .msg_he1 {
    font-size: 21px;
    margin-left: 51px;
  }
  .input_box {
    margin-bottom: 20px;
  }
  .msg_img {
    padding-bottom: 43px;
  }
  .con_imghe {
    width: 89px !important;
    cursor: pointer;
  }
  .bigtextbox {
    margin-bottom: 0px !important;
  }
  .conta_btn {
    margin-top: 26px;
  }
  /* footer */
  .footer_section {
    padding-bottom: 12px;
  }
  .f_box_start p {
    padding-bottom: 16px;
  }
  .addres {
    margin-top: -11%;
    margin-bottom: 23px;
    margin-top: -13%;
  }
  .f_2nd_icon li i {
    margin-top: 15px;
  }
  .f_box_end {
    margin-right: 3%;
    margin-left: 25%;
    margin-bottom: 9%;
  }
  .f_box_end_p {
    text-align: center;
    margin-left: -17%;
  }
  .f_box_end_icon {
    margin-left: 27%;
    margin-top: -2%;
  }
  .f_box_end_icon ul li a i {
    font-size: 18px;
  }
  .f_box_end h1 {
    padding-top: 39px;
    padding-bottom: 29px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* slider section */
  .slider_texbox p {
    margin: 0 19px;
  }
  .slider_section {
    padding-top: 90px;
  }
  .slider_texbox h1 {
    font-size: 36px;
  }
  /* Service section */
  .ser_texbox p {
    margin: 0 43px !important;
  }
  /* card */
  .portf_heading_box p {
    font-size: 16px;
  }
  .portfolio_under {
    margin-left: 161px;
  }
  .portf_heading_box h1 {
    font-weight: 700px !important;
    letter-spacing: 2px;
  }
  /* gallary */
  .gellary_section {
    padding-top: 60px;
    padding-bottom: 55px;
  }
  .g_h_1 {
    padding-bottom: 50px;
  }
  .g_h_2 {
    padding-bottom: 50px;
  }
  .ga_button {
    margin-bottom: 0;
  }
  /* footer */
  .footer_section {
    padding-top: 65px;
    padding-bottom: 45px;
  }
  .f_box_start ul li {
    font-size: 13px;
    margin-right: 14px;
  }
  .f_box_end_p p {
    padding-top: 42px;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .message_section {
    padding-bottom: 33px;
  }
}
